@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "RampartOne";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/RampartOne-Regular.ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf");
  }
  * {
    @apply box-border font-montserrat text-black;
  }
  h1 {
    @apply font-title text-h1-desktop;
  }
  h2 {
    @apply font-montserrat text-h2-desktop;
  }
  p {
    @apply font-montserrat text-p-desktop;
  }
  a {
    @apply text-gray-500 font-semibold;
  }
  button {
    @apply flex items-start py-3 px-6 h-12 bg-indigo-700 rounded-lg shadow-md text-white;
  }
}
