@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "RampartOne";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/RampartOne-Regular.ttf");
  }
  @font-face {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/PublicSans-VariableFont_wght.ttf");
  }
  * {
    @apply box-border font-public-sans text-black;
  }
  h1 {
    @apply font-title text-h1-mobile md:text-h1-desktop;
  }
  h2 {
    @apply font-public-sans text-h3-mobile md:text-h2-desktop;
  }
  h3 {
    @apply font-public-sans text-h3-mobile md:text-h3-desktop;
  }
  p {
    @apply font-public-sans text-p-mobile md:text-p-desktop;
  }
  a {
    @apply text-gray-500 font-semibold text-sm hover:text-blue-600 md:text-base;
  }
  label {
    @apply font-bold;
  }
  input,
  textarea {
    @apply p-4 outline outline-2 accent-blue-600 outline-gray-300 rounded-xl focus:outline-blue-600;
  }
  button,
  input[type="submit"] {
    @apply flex items-start cursor-pointer py-3 px-6 h-fit bg-indigo-700 rounded-xl shadow-md text-white text-center transition-all duration-200 text-sm md:text-base hover:outline hover:outline-1 hover:outline-indigo-700 hover:bg-white hover:text-indigo-700 hover:font-bold;
  }
}
